[2020-10-14 05:05] rswalters opened #1 "Update to the webcam links for the Palomar telescopes"
Very small detail but the webcam to the Palomar telescopes should point to
http://algol.palomar.caltech.edu/instruments/allsky/AllSkyCurrentImage.JPG for night time sky conditions.  And fwiw there also the inside the dome cam and the view from High Point which looks down on the all the Palomar telescopes
http://nera.palomar.caltech.edu/upload/p48/p48-webcam-latest_1.jpg

http://hpwren.ucsd.edu/cam

[2020-10-19 15:27] yaoyuhan opened #2 "missing photometry"
Hi -- I just saved the source https://private.caltech.edu/source/ZTF20aceyolc, but compared with its photometry on the old Marshal (http://skipper.caltech.edu:8080/cgi-bin/growth/plot_lc.cgi?name=ZTF20aceyolc), there are less data points on the Fritz page. May I know what is the reason for this?

Thanks,
Yuhan

![Screen Shot 2020-10-19 at 8 25 43 AM](https://user-images.githubusercontent.com/20339

[2020-10-20 07:14] steveschulze opened #3 "Scrambled text after creating a new group"
Hi,

after creating a group, some text gets scrambled (see attached picture)

Cheers,

Steve
![Screenshot from 2020-10-19 13-44-37](https://user-images.githubusercontent.com/11585543/96552820-fcd68180-12bc-11eb-91ca-c0899b83dda8.png)

[2020-10-20 07:15] steveschulze opened #4 "Seeing double when hovering over a data point"
Hi,

When hovering over a data, you see the record twice.

![Screenshot from 2020-10-19 13-07-27](https://user-images.githubusercontent.com/11585543/96552986-2c858980-12bd-11eb-8864-827103a4810b.png)

[2020-10-20 07:18] steveschulze opened #5 "Features needed for the photometry and spectroscopy tools"
Hi,

The photometry and spectroscopy should have dedicated pages and not only show up on the object dashboard. We need to see the photometry as a table without downloading the light curve.

Which features are supposed to go into the spectroscopy tool? Do you plan display lines like on the old Marshal? If yes, which lines are you going to add to the catalogue?

Cheers,

Steve

[2020-10-20 07:32] steveschulze opened #6 "Too many clicks to save an object on the object page"
Hi,

The current default option is to save an object to all filters it passes. This is a rare use case. Scanners will save transients to specific programs and not all filters.

At the moment it takes 3 clicks to save a transient to a specific program. This can be reduced to two. If only one program is selected, this program should be the default to which an alert is saved. In case multiple filters

[2020-10-20 08:14] steveschulze opened #7 "Galactic extinction doesn't work"
Hi,

I tried to get the Galactic extinction of ZTF18acenqto. When I press the button. I get the following output.
![Screenshot from 2020-10-20 11-14-00](https://user-images.githubusercontent.com/11585543/96559238-6f4b5f80-12c5-11eb-8614-b291c6a816ee.png)

Cheers,

Steve

[2020-10-20 08:16] steveschulze opened #8 "No link to HEASARC"
Hi,

The option to query HEASARC has no underlying link.

Cheers,

Steve

[2020-10-20 08:21] steveschulze opened #9 "Further survey buttons don't work"
Hi,

The following buttons also don't work:
- FIRST (not linked)
- CRTS (not linked)
- Variable Marshal (Search)  (not linked)

There is a problem with the Java for
- SkyView
- IRSA/WISE

PyMP and LCOGT are incorrectly linked.
IPAC is spinning and spinning but shows no result.

Cheers,

Steve

[2020-10-20 08:23] steveschulze opened #10 "Problems with finder chart generator"
Hi,

This is the output for ZTF18acenqto.

Cheers,

Steve

[finder_ZTF18acenqto.pdf](https://github.com/fritz-marshal/fritz-beta-feedback/files/5407313/finder_ZTF18acenqto.pdf)

[2020-10-20 08:23] dannygoldstein commented on #9
Fixed in skyportal/skyportal#992

[2020-10-20 08:23] #9 closed

[2020-10-20 08:24] dannygoldstein commented on #8
Fixed in skyportal/skyportal#992

[2020-10-20 08:24] #8 closed

[2020-10-20 08:24] dannygoldstein commented on #7
Fixed in skyportal/skyportal#992

[2020-10-20 08:24] #7 closed

[2020-10-20 08:25] dannygoldstein commented on #10
Fixed in skyportal/skyportal#1084

[2020-10-20 08:25] #10 closed

[2020-10-20 08:26] dannygoldstein commented on #4
Fixed in skyportal/skyportal#1071 and skyportal/skyportal#1111

[2020-10-20 08:26] #4 closed

[2020-10-20 08:28] steveschulze opened #11 "Lightcurve of ZTF18acenqto is incorrect"
Hi,

I manually added ZTF18acenqto to Fritz. ZTF18acenqto has ZTF measurements starting from December 2018. These measurements are not shown. Instead, the light curve shows photometry from the past 50 days. The SLSN is too faint to be detected by ZTF.

Cheers,

Steve

![Screenshot from 2020-10-20 11-27-33](https://user-images.githubusercontent.com/11585543/96560678-44faa180-12c7-11eb-8075-08d2b645

[2020-10-20 09:00] steveschulze opened #12 "Feature requests: spectroscopy"
Hi,

The lines of the spectra appear to be non-solid. Could you show them as solid lines?

It would be important/critical to have the following features like on the old Marshal:
-rebin spectra
-overlay telluric lines
-overlay typical galaxy lines (absorption and emission)
-add lines from WN/WC/WO stars; critical for infant SN studies
-define the velocity of each spectral feature; SN features will

[2020-10-20 09:02] steveschulze opened #13 "Truncated legend on spectroscopy plot"
Hi,

The legend of the spectra is truncated.

Cheers,

Steve

![Screenshot from 2020-10-20 12-01-14](https://user-images.githubusercontent.com/11585543/96564577-01566680-12cc-11eb-9fc5-41721b28515e.png)

[2020-10-20 15:49] dmitryduev commented on #11
Fixed in [#14](https://github.com/dmitryduev/kowalski/pull/14) on Kowalski.

[2020-10-20 15:49] #11 closed

[2020-10-20 16:25] dmitryduev commented on #11
+ the beta-testing instance only has the alerts going back to mid-September

[2020-10-20 17:37] steveschulze commented on #11
Hmm, the ZTF-I Marshal doesn't show the data that are on Fritz. The light curve on Fritz is also very different from how the transient looks like.

Cheers,

Steve

<img width="622" alt="Screenshot 2020-10-20 at 20 35 00" src="https://user-images.githubusercontent.com/11585543/96623434-0dfead00-1314-11eb-856d-c637f0af34da.png">

[2020-10-22 13:02] steveschulze opened #14 "Feature request: Alphabetizing the telescope list on the dashboard"
Hi,

Could you alphabetise the telescope list on the dashboard?

The Gemini telescopes are written as GS and Gemini North. It would be more useful to have a consistent naming scheme. :)

How can I watch the status of multiple telescope sites?

Cheers,

Steve

[2020-10-23 17:50] acrellin commented on #3
Fixed in https://github.com/skyportal/skyportal/pull/1161

[2020-10-23 17:50] #3 closed

[2020-10-23 18:21] acrellin commented on #14
Addressed by https://github.com/skyportal/skyportal/pull/1162

[2020-10-23 18:21] #14 closed

[2020-10-23 19:54] acrellin commented on #6
Addressed in https://github.com/skyportal/skyportal/pull/1168

[2020-10-23 19:54] #6 closed

[2020-10-28 00:57] doccosmos opened #15 "User lists should be alphabetical"
When adding users to a new group or selecting additional admins for a group, the current dropdown of users seems randomly ordered. It would be much easier if this was sorted alphabetically.

[2020-10-28 01:47] igorandreoni commented on #15
Even better if name + surname (+institution?) could be displayed, instead of usernames. Thanks!

[2020-10-28 07:37] doccosmos opened #16 "List of external catalogs"
The Fritz Marshal User Guide mentions external catalogs that can be crossmatched against but the list of what is available is not mentioned anywhere.

[2020-10-28 07:42] steveschulze opened #17 "Scanning page comments"
Hi,

Thanks for the improved scanning page! I agree with Jesper that several of the previous comments still apply. This would be my list.

High priority
-Time axis has to be in units of time from now. MJD is useless if you want to judge whether a transient is 2 or 20 days old.
-Reject options like on the old Marshal
-Menu “Show previously saved candidates?” like on the old Marshal
-If a classifica

[2020-10-28 08:03] steveschulze opened #18 "Object page"
Hi,

and comments on the object page.

**High priority**
-Examine option of the cut-outs
-Improve the dynamic range of the ZTF cut-outs
-Observability option
-Absolute magnitude on the right y-axis of the light curve plot. Not shown even when redshift exists.
-Spectra are not displayed (Dima and Danny have pointed me to the thread where the spectral module is discussed.)
-Auto-annotations have to

[2020-10-28 08:08] steveschulze opened #19 "Group page"
Hi,

And a few comments on the group page.

**Critical**
-User names should be real names, not acronyms or pseudonyms
-Name list has to be alphabetically sorted
-We need an option to add a batch of users at ones.

Cheers,

Steve

[2020-10-28 08:12] dmitryduev commented on #16
Addressed [here](https://github.com/fritz-marshal/fritz/pull/77)

[2020-10-28 08:12] steveschulze commented on #18
**Highest priority**
-Automatically query the TNS and add information of the object: IAU name, redshift etc. Can be added to the auto-annotations.

**Medium priority**
-Add a button to report a source to the TNS

**Low priority**
-The colours in the offset plot have to be identical to the designated ZTF-filter colours. E.g., sometimes ZTF/r is shown in blue.
-Surveys: Add the option to search Astr

[2020-10-28 08:19] steveschulze commented on #18
-The cut-outs of the DESI DR8 images don't work. For instance, ZTF18acenqto was covered by the Legacy Surveys.
-The PS1 cut-out should contain a link to the PS1 image cut-out server.

[2020-10-28 13:48] wombaugh opened #20 "Sandbox feature for filter/api development."
I would be useful with a sandbox group/filter where api connections can be developed and tested without either having to create new groups all the time or polluting/interfering with existing ones. A sandbox can be emptied regularly (daily) except for some sample interaction objects.

[2020-10-28 14:23] igorandreoni opened #21 "Request admittance to a group"
It would be good to have all the group names displayed somewhere and an easy way to join them. For example, it could be there a button to send a request to join directly to the admins of the group. If this is too complicated, we should be able at least to see the name and email of the PI/admin that we have to contact.

[2020-10-29 03:36] dannygoldstein commented on #1
fixed

[2020-10-29 03:36] #1 closed

[2020-10-29 20:27] acrellin commented on #17
@steveschulze there is already a checkbox for toggling previously saved candidates.

[2020-10-30 00:46] dannygoldstein commented on #20
@wombaugh Not quite sure I understand what you want to do here. Can you say a little more about your use case?

[2020-10-30 01:06] AndyTza commented on #12
I will also add that currently on frirz the spectra line features are not working.

[2020-10-30 02:11] AndyTza opened #22 "[Request] Upload Spectroscopy & Spectrum Toolbar"
Hi all,

I just have a few minor recommendations for the manual upload spectroscopy and the spectrum toolbar.

- Can the observers & reducers list be sorted alphabetically? This can be quite hard to find one user when some filters have many users associated

- **Observation MJD**, can this be converted to MM/DD/YR format?

- Spectrum lines tabs, redshift, and V_expansion are currently not working

[2020-10-30 09:16] steveschulze commented on #17
Right, but we need the same options as on the old Marshal. We also need options to remove transients from the scanning page.

[2020-10-30 23:03] dmitryduev commented on #2
Fixed in [this Kowalski PR](https://github.com/dmitryduev/kowalski/pull/14)

[2020-10-30 23:03] #2 closed

[2020-10-31 05:15] steveschulze commented on #17
There is a bug in the TNOW estimate. There is a case with a future data point.

![Screenshot 2020-10-31 at 07 13 41](https://user-images.githubusercontent.com/11585543/97771746-bef11d00-1b48-11eb-87a7-f6c7182eefbb.png)

[2020-10-31 05:30] steveschulze commented on #17
The JD calculation is incorrect. The screenshot is from this morning. It says that TNOW is 2459145.66, but it's ~2459153.5. Also TNOW is given in JD not MJD.

![Screenshot 2020-10-31 at 07 27 28](https://user-images.githubusercontent.com/11585543/97771933-9c600380-1b4a-11eb-9d2f-072e2fac4f2b.png)

[2020-10-31 05:33] steveschulze commented on #17
What surprises me further:
-We specify the format of the auto-annotation value in the filter but this gets ignored
-The values of the auto-annotation can't be marked and copied. This is needed.

[2020-10-31 05:46] steveschulze commented on #17
The mislabeling of the JD is a bug in my filter.

...

Digging into this deeper. Our filter gets (M)JD_NOW from $candidate.jd. The displayed light curve on the scanning page goes beyond 2020-10-21 (which corresponds to (M)JD_NOW). Have there been any reingestions?

[2020-11-02 21:45] dannygoldstein commented on #17
@steveschulze can you please split this up into individual issues?

[2020-11-02 21:45] #17 closed

[2020-11-02 21:51] dannygoldstein commented on #22
@atzanidakis In future, can you please file each of these as an individual issue. Makes it easier to keep track of things

Duplicate of  #15

No as this results in a loss of precision in the stored date of the spectrum. We need sub-second precision on the shutter times.

This is a known issue. We are working on it in https://github.com/skyportal/skyportal/issues/1247

Tracked in https://github.com

[2020-11-02 21:51] #22 closed

[2020-11-02 21:55] dannygoldstein commented on #19
@steveschulze, in future please file each of these as a separate issue. makes it easier for us to track

Closing this as a wontfix, usernames are specifically designed to be configurable unique tokens for identifying a user account. cc @profjsb

Duplicate of #15

Already implemented in https://github.com/skyportal/skyportal/pull/1125

[2020-11-02 21:55] #19 closed

[2020-11-02 21:57] dannygoldstein commented on #18
@steveschulze Please split these into separate issues in the future so we can track them. There is too much going on in this issue for us to meaningfully keep track of what it encompasses. Each issue should relate to no more than one request / bug /

[2020-11-02 22:01] dannygoldstein commented on #18
Please open a separate issue describing what you want here.

https://github.com/dmitryduev/kowalski/pull/22

https://github.com/skyportal/skyportal/search?q=observability&type=issues

This has been implemented for about a month -

See e.g., https://fritz.science/source/ZTF20abyzomt

-Spectra are not displayed (Dima and Danny have pointed me to the thread where the spectral module is discussed.)

W

[2020-11-02 22:17] dannygoldstein commented on #18
Why do you need this?

This already exists,

https://fritz.science/alerts/ztf/ZTF20abyzomt

This is coming in through

https://github.com/dmitryduev/kowalski/pull/21

This should no longer be needed, all ZTF photometry that we know of is always posted to sources immediately cc @dmitryduev

https://fritz.science/upload_photometry/ZTF20abyzomt
http://skyportal.io/docs/api#/paths/~1api~1photometry/po

[2020-11-02 22:19] dannygoldstein commented on #5
Spectroscopy has a dedicated page in development,

https://github.com/skyportal/skyportal/pull/1253

Why do you need the photometry table as a page ?

![Screen Shot 2020-11-02 at 2.18.58 PM.png](https://images.zenhubusercontent.com/59e2c99cb0222d5de47baddd/79e25a9c-9884-453b-84a1-8031c37733ad)

[2020-11-02 22:19] #5 closed

[2020-11-02 22:22] dannygoldstein commented on #12
This is what we currently have:

![Screen Shot 2020-11-02 at 2.18.58 PM.png](https://images.zenhubusercontent.com/59e2c99cb0222d5de47baddd/5262bd38-899b-4078-be76-a3abada54bcb)

[2020-11-02 22:23] #16 closed

[2020-11-03 23:38] yaoyuhan opened #23 "No ZTF photometry on source page"
Hi, I saved the source to fritz https://fritz.science/source/ZTF20achvlbs
but there is no plotted photometry. May I know why? Thanks! --Yuhan

[2020-11-03 23:44] dmitryduev commented on #23
@yaoyuhan where did you save it from? The Alerts page?

[2020-11-03 23:50] yaoyuhan commented on #23
I saved it using http://skyportal.io/docs/api#/paths/~1api~1sources/post. Originally I did not specify the gorup id, so it was saved to all my groups. I then manually unsaved it from all other groups except `fast`.

[2020-11-03 23:58] dmitryduev commented on #23
I see. Now you need to manually post the photometry and the thumbnails.
The Fritz-specific SP api endpoint to use if you want all that to happen in one go automatically would be
`/api/alerts/ztf/<objectId>.POST`. If you don't provide any data with it, Fritz will use the latest candid to pull the thumbnails and save it to all the groups you are a member of (respecting ACLs). You can set `data={"can

[2020-11-03 23:58] #23 closed

[2020-11-04 19:00] acrellin commented on #15
Addressed by https://github.com/skyportal/skyportal/pull/1279

[2020-11-04 19:00] #15 closed

[2020-11-05 11:41] wombaugh commented on #20
The use case would be to experiment with e.g. new filters and sources, without having to worry about disturbing live science program or having the administrative overhead work of setting up filters/groups for this. The [TNS sandbox](https://sandbox-tns.weizmann.ac.il/search) is a good example of how this can work.

[2020-11-11 17:44] steveschulze commented on #12
Thanks Danny. This is already very good. The suggestions would be extremely useful and important for the observers.

[2020-11-11 17:46] steveschulze opened #24 "Contrast settings of cut-outs"
Hi,

The contrast settings of the ZTF cut-outs need some further tuning in case of very bright sources or for vignetted images (an example is attached).

<img width="919" alt="Screenshot 2020-11-11 at 18 41 21" src="https://user-images.githubusercontent.com/11585543/98845450-041d2500-244e-11eb-8fe9-05f18db3f188.png">

[2020-11-11 19:01] steveschulze opened #25 "Object not properly displayed on the Groups page"
Hi

When you display an object on Groups -> Sources -> Groups Sources, the light curves and spectra are not shown.

<img width="1920" alt="Screenshot 2020-11-11 at 19 49 17" src="https://user-images.githubusercontent.com/11585543/98852776-78f55c80-2458-11eb-8596-3ecaaabc043a.png">

[2020-11-11 21:18] dannygoldstein commented on #25
@guynir42

[2020-11-12 07:29] steveschulze opened #26 "Scanning page: What does "Show previously saved objects mean"?"
Hi,

What exactly does the option "show previously saved object" mean? After choosing this option, some saved objects are still shown. We need the same functionality as on the old Marshal to specify what we want to see and what not.

Screenshots are attached.

<img width="1244" alt="Screenshot 2020-11-12 at 08 24 16" src="https://user-images.githubusercontent.com/11585543/98908364-98c06b00-24c0-11

[2020-11-12 07:31] steveschulze opened #27 "Object rejection on the scanning page"
Hi,

It is critical to have the option to remove objects from the scanning page because they are bogus, not relevant for a specific program, stars etc. A screenshot with the rejection options from the old Marshal is attached.

<img width="249" alt="Screenshot 2020-11-12 at 08 27 52" src="https://user-images.githubusercontent.com/11585543/98908942-6feca580-24c1-11eb-869c-a902479ec6bf.png">

[2020-11-12 07:44] dmitryduev commented on #27
I would reformulate this as follows:
- add an option to add classifications directly from the scanning page
- add a filtering option for previously classified objects

[2020-11-12 08:19] steveschulze opened #28 "Not all photometry is shown on the object page"
Hi,

The number of photometry of ZTF20abzumlr is different on https://fritz.science/alerts/ztf/ZTF20abzumlr and https://fritz.science/source/ZTF20abzumlr.

<img width="570" alt="Screenshot 2020-11-12 at 09 16 53" src="https://user-images.githubusercontent.com/11585543/98913671-f7d5ae00-24c7-11eb-93f9-2f3444a35fe6.png">

<img width="680" alt="Screenshot 2020-11-12 at 09 16 48" src="https://user-ima

[2020-11-12 08:26] dannygoldstein commented on #26
Hi @steveschulze,

Do you mean in the context of the growth marshal? Or "the show only unsaved candidates" option in fritz?

[2020-11-12 08:29] steveschulze commented on #26
Hi Danny,

The Fritz option.

It would be very useful if would have similar functionality as on the GROWTH Marshal to display saved objects or not.

[2020-11-12 08:31] dmitryduev commented on #28
Unfortunately, this is a feature, not a bug: this object was saved to the RCF program, which only has access to programid=1 data, so only that data were propagated.

[2020-11-12 08:31] #28 closed

[2020-11-12 08:32] dannygoldstein commented on #28
Ah!

[2020-11-12 23:27] dannygoldstein opened #29 "Telescope coordinates are incorrect on Fritz"
Some of the telescopes have longitudes in the domain [0, 360], while others have longitudes in the (correct) domain [-180, 180]. This breaks the observability page:

![Screen Shot 2020-11-12 at 3.24.07 PM.png](https://images.zenhubusercontent.com/59e2c99cb0222d5de47baddd/70162af6-59f8-4d37-8cee-ab4c6141c9fa)

Need to correct these longitudes so they are on the right system.

[2020-11-13 00:29] profjsb commented on #29
Suppose you could handle out of bounds data with a mod operator, rather than fix the data (ie. make the backend more robust).

[2020-11-13 00:30] profjsb commented on #29
Also, dont show an airmass plot for satellites.

[2020-11-13 03:24] dannygoldstein commented on #26
@kmshin1397 and @acrellin  can comment on this

[2020-11-13 18:18] AndyTza opened #30 "[Feature Request] - Add Manual Button to Download Spectrum from Fritz"
Would it be possible to add a button for each source to download the uploaded spectra directly from Fritz instead of using the API?

[2020-11-13 18:20] dannygoldstein commented on #30
Will be addressed by https://github.com/skyportal/skyportal/issues/1253

[2020-11-13 18:25] AndyTza opened #31 "[Feature Request] - Add Save to Favorites Button to Save Interesting Sources"
Can each user have a list of "Favorite Sources" somewhere on the dashboard? Similar to the GM, each source had the option to be saved to a list of favorite candidates. Would it be possible to add something like this to Fritz?

[2020-11-13 18:26] dannygoldstein commented on #31
Duplicate of https://github.com/skyportal/skyportal/issues/1310

[2020-11-13 18:26] #31 closed

[2020-11-13 18:35] AndyTza opened #32 "Possible Bug with Centroid Plot"
It appears that the centroid plot for each source is not entirely accurate. For most sources, the **offset** estimates are always ~0 when in fact if you look at the science images there's clearly a pretty obvious offset from the host nucleus.

<img width="408" alt="Screen Shot 2020-11-13 at 1 29 54 PM" src="https://user-images.githubusercontent.com/22720676/99107967-a35c2c80-25b4-11eb-8d9f-46d4adb

[2020-11-13 18:36] dannygoldstein commented on #32
Duplicate of https://github.com/skyportal/skyportal/issues/1011

[2020-11-13 18:36] #32 closed

[2020-11-13 18:44] AndyTza opened #33 "[Feature Request] - Spectra Summary Page"
On the GM we had this feature on the home paged called **Spectra Summary**. Essentially, the user was able to query for a given date all the spectra that have been uploaded in that date range to GM and filter it by **classification**, **instrument**, and **science program**. It would be awesome if we can add this feature somewhere in Fritz, and it would help a lot in managing our classification an

[2020-11-13 18:45] dannygoldstein commented on #33
Will be addressed by skyportal/skyportal#1253

[2020-11-13 19:27] AndyTza opened #34 "[Feature Request/Question] - Expanding Instrument List"
Suppose we wanted to upload a spectrum from a telescope that is currently not on the current instrument list (in the upload spectrum section of each source). Are there any existing methods (API and manually) to add new telescopes to the instrument list?

[2020-11-13 19:29] dannygoldstein commented on #34
Yes:

http://skyportal.io/docs/api#/paths/~1api~1telescope/post
http://skyportal.io/docs/api#/paths/~1api~1instrument/post

However, only users with a "Manage telescopes" and "Manage instruments" ACL can use these endpoints. We do this so that duplicate instruments and telescopes are not posted.

[2020-11-13 19:29] #34 closed

[2020-11-13 19:29] dannygoldstein commented on #34
(You can check your ACLs on your Profile page).

[2020-11-13 19:38] AndyTza opened #35 "[Feature Request] - Expanding the Classification Taxonomy"
Is there currently any discussion about the possibility of expanding the current classification taxonomy list, if can we add a method for the user to create a new classification type? For example, there are many kinds of (sub-types of Type Ia supernovae) and other kinds that are currently not on the classification/taxonomy list.

[2020-11-13 19:40] dannygoldstein commented on #35
You can create your own taxonomies using this endpoint:

http://skyportal.io/docs/api#/paths/~1api~1taxonomy/post

Take a look at this package for more on how to structure a taxonomy:

https://github.com/profjsb/timedomain-taxonomy

[2020-11-13 19:40] #35 closed

[2020-11-13 20:01] AndyTza opened #36 "[Feature Request] - Add Important ZTF-Related Links"
Somewhere on the dashboard, ideally, right next to the observatory forecast/webcam, it would be nice to add a tab for the following:

1. P48 live status
2. P60 live status
3. ZTF schedule survey plan

[2020-11-13 20:13] dannygoldstein commented on #36
@andytza Where is this information served? Can you provide a link for each of these?

[2020-11-13 20:13] dannygoldstein commented on #36
E.g., if I want to know the P48 status, I would go to link X

[2020-11-13 20:20] AndyTza commented on #36
@dannygoldstein  Yep, here are the related links:
1. P48 status: http://skyvision.caltech.edu/ztf/
2. P60 status: http://pharos.caltech.edu/login
3. ZTF schedule survey plan: https://sites.astro.caltech.edu/~tb/iptfdir/prv/p48ops/

[2020-11-13 20:22] dannygoldstein commented on #36
For 1 and 2 what are the credentials? And would it be a problem to store them in an open source repository?

For 3, it says it was last updated in 2017 (for iPTF). Presumably there is one for ZTF?

[2020-11-13 20:25] AndyTza commented on #36
Let me ask around first, and I will get back to you @dannygoldstein!

[2020-11-13 20:25] dannygoldstein commented on #36
It would be most helpful if, for 1 and 2, the developers could add public endpoints (no authentication required), that returned the status as JSON when I submit a GET.

E.g.,

[code]
returns
[code]
or
[code]
with no auth required. Similar for p60.

[2020-11-13 20:28] dannygoldstein commented on #36
Moving to unscheduled until we can determine how to access the data needed

[2020-11-15 07:24] brycebolin opened #37 "Known asteroid photometry and lightcurve from public alerts"
Would it be possible to use Fritz to show the photometry as a function of time for all known asteroidal sources taken from the alert stream? Showing the photometry as a function of time would enable monitoring of asteroid brightness and detection of sudden brightening events such as those cause by disruptions.

[2020-11-15 08:36] dmitryduev commented on #37
We would need to track `candidate.ssnamenr` (see https://github.com/ZwickyTransientFacility/ztf-avro-alert/blob/master/schema/candidate.avsc) and not `objectId`, which would be different for essentially every detection. I'll need to index the `ZTF_alerts` collection on K on that field and add functionality to our filters to track that and post to the proper place on SP.

[2020-11-16 17:24] rswalters commented on #36
As administrator of the first two links I can work on creating an api call to get the status of the telescope.

[2020-11-17 06:26] jespersollerman opened #38 "permissions to delete and edit sedm requests"
I want to have permission to remove sedm trigger for https://fritz.science/source/ZTF20acpjapi
New
danny  7:13 AM
Currently we dont let people delete other peoples’ requests
jesper  7:22 AM
How do we change this?
stefanv  7:24 AM
You can file a feature request at https://github.com/fritz-marshal/fritz-beta-feedback
fritz-marshal/fritz-beta-feedback
A place for beta testers to discuss issues or req

[2020-11-17 06:28] dannygoldstein commented on #38
Needs approval from @mansikasliwal, @doccosmos, and @rswalters

[2020-11-17 07:02] rswalters commented on #38
I approve this functionality for the SEDM Czar which Jesper is currently designated.

[2020-11-17 07:28] dannygoldstein commented on #38
ok, I have provisionally granted @jespersollerman the ability to delete any RCF SEDM request. Will talk tomorrow with @mansikasliwal and @doccosmos  to potentially expand this privilege

[2020-11-17 15:01] AndyTza opened #39 "[Feature Request] - Remove Old Observing Runs from Assign Target to Observing Run Tab"
Would it be possible to remove old observing runs under the _Assign Target to Observing Run_ tab under each source? Currently, it looks like there's still an option to add sources to observing runs from October, which might lead to confusion/accidents assigning candidates to old runs (see image below).

<img width="788" alt="Screen Shot 2020-11-17 at 9 40 30 AM" src="https://user-images.githubuser

[2020-11-17 18:10] AndyTza commented on #36
I was told that the up-to-date ZTF schedule survey plan link is currently a work in progress... I will notify you all when this is done!

[2020-11-17 18:21] ebellm commented on #36
Regarding the ZTF schedule: the private schedule is private, so some simple authentication is going to be necessary to get that data.

The scheduler exposes the planned schedule now, but the security model on the mountain means it's painful to access.  I have an overdue task to provide a pointing plan reporting service for the _public_ surveys; my plan is to wrap up an authenticated version that i

[2020-11-17 19:53] joeljoh opened #42 "Sources not appearing in source search-box"
It seems like some sources do not appear in the search box if they have been saved from the alerts page. Unclear if this is due to the source being saved without selecting a group or belonging to a group to which I don't have permissions.

<img width="1121" alt="Screenshot 2020-11-17 at 10 27 21" src="https://user-images.githubusercontent.com/71870267/99439539-970a0380-2915-11eb-9685-233709fe62b5.

[2020-11-17 20:00] stefanv commented on #42
Thanks for the report @joeljoh.  My first guess would be that we match strings starting from the beginning; will investigate.

[2020-11-17 20:00] stefanv commented on #42
Does not seem to be an issue with matching in the middle of string.

[2020-11-17 20:13] joeljoh commented on #42
Ah, I was actually not trying to do that (the "ZTF20.." is just outside the box). Perhaps a poor example, since this object is now searchable. A current example (for me at least) is ZTF20acqoiyt: Saved source, but not indexed on sources page nor in the search field.

<img width="1428" alt="Screenshot 2020-11-17 at 21 08 54" src="https://user-images.githubusercontent.com/71870267/99442412-a1c69780-

[2020-11-17 20:16] stefanv commented on #42
Thanks, @joeljoh, this is very helpful feedback, since I can now see that the problem perhaps is with filtering in general (these two features share some functionality).  The first screenshot is surprising, because there the two searches yielded different results.

@acrellin, I wonder if you have any insight into what might be happening here?

[2020-11-17 20:20] acrellin commented on #42
Yes, that source is not saved to any groups that @joeljoh has access to, so by design will not show up in the source search results. Different logic (whether at least one photometry data point associated with the source should be viewable by the user) determines access to the source page. So the question is whether those two access control methods should be unified across different avenues of acce

[2020-11-17 20:20] acrellin commented on #42
cc @dannygoldstein

[2020-11-17 20:31] stefanv commented on #42
My gut feeling is that the most permissive source discovery mechanism should be used everywhere.

[2020-11-17 20:32] acrellin commented on #42
I agree. @dannygoldstein ?

[2020-11-17 22:02] dannygoldstein commented on #42
Yep, I agree,

[2020-11-18 18:02] Yashvi-Sharma opened #43 "Tag duplicate sources"
**Feature Summary**
If a candidate/source is nearby another candidate/source (<5" or whatever the criteria was on Growth marshal), mention this information on source page/candidate page

**Usage / behavior**
Need to know if two sources are duplicates of each other but have different ZTF IDs, helpful in case of nearby Novae

**Implementation details**
A comment (either just below ZTF name or in ann

[2020-11-18 18:30] dannygoldstein commented on #43
Proposed solution: run a healpix alchemy cone search in the sources handler every time the frontend makes a request for the source page.

@lpsinger do you have any bandwidth to work on this?

[2020-11-18 18:59] stefanv commented on #43
@dannygoldstein How expensive is this; is this the type of thing that we may want to calculate and cache daily?

[2020-11-18 19:03] dannygoldstein commented on #43
Very cheap with healpix alchemy.

[2020-11-18 21:28] igorandreoni opened #44 "observing run keeps loading"
Please fill out relevant sections below; remove those that are unused.

**Describe the bug**
At least three users cannot display the observing run https://fritz.science/run/2

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'https://fritz.science/run/2'
2. Error appears for a few seconds "Object of type MaskedConstant is not JSON serializable"

**Expected behavior**
Open the observing r

[2020-11-18 21:35] kmshin1397 commented on #26
Hi @steveschulze,

Sorry for the delayed response - apparently I didn't have notifications enabled for this repository.

The "Show only unsaved candidates" option will filter for candidates that have yet to be saved to the groups you have selected in that "Program selection" form right below it. Thus, you could still see candidates show up as previously saved if they have been saved to other progr

[2020-11-18 21:43] dannygoldstein commented on #44
Needed to join CLU-caltech to reproduce

[2020-11-18 22:14] kmshin1397 commented on #25
Hi @steveschulze,

Do you see this on the corresponding source pages for these sources as well? So if you click on the source id for a source where the plots do not show, do you see the plots on the source page for that source? My first guess would that these sources simply do not have photometry/spectra data yet. Which means we should probably relay that in text instead of displaying an empty plo

[2020-11-18 22:18] dannygoldstein commented on #44
This is happening because ZTF20acgrjqm, which is saved to CLU-caltech, is assigned to the run, and that object is not up (up defined as airmass < 2) during the run. This causes
[code]
to be thrown, making the rise/set times of this object a  MaskedConstant, which doesn't know how to be serialized and sent to the frontend. Will push a fix...

[2020-11-18 22:19] dannygoldstein commented on #44
For an immediate fix, un assign this target from the run for now.

[2020-11-18 22:46] kmshin1397 commented on #39
Limiting the options on the source page to only upcoming runs seems pretty reasonable to me. @dannygoldstein thoughts? I can take care of this if you agree.

[2020-11-18 23:02] dannygoldstein commented on #39
Yes, go for it! But "upcoming" should be defined as, the time at which the
run ends (sunrise)  is later than the current time.

On Wed, Nov 18, 2020 at 2:47 PM Kyung Min Shin <notifications@github.com>
wrote:

--
Danny Goldstein
http://astro.caltech.edu/~danny

[2020-11-19 01:30] viraj21197 opened #45 "Palomar starlist format not correct"
Please fill out relevant sections below; remove those that are unused.

**Describe the bug**
The targetlist for P200 generated by Fritz is not accepted by the P200 system. There are several formatting issues.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'Observing runs '
2. Click on any observing run ex.
3. Scroll down to 'Starlists and offsets'
4. Click Facility -> select P200
5. T

[2020-11-19 01:59] profjsb commented on #45
It's generated correctly on the backend but not rendering correctly. Will look for a fix.

[2020-11-19 07:58] steveschulze opened #46 "Permission issue with observing runs"
Please fill out relevant sections below; remove those that are unused.

I want to flag an object as observed. However, Fritz complains that I do not have permission to do so.

**Expected behaviour**
Everybody should be able to change the status of an observation. We need to focus on science, not bureaucracy!

[2020-11-19 08:43] dannygoldstein commented on #46
Hi @steveschulze, please fill out the bug report fully. Currently there is not enough information for us to isolate and reproduce the issue.

[2020-11-19 11:06] erezimm opened #47 "No support for UVOT filters"
When uploading swift photometry from UVOT the filters are not recognized and are not supported in the documentation here: https://skyportal.io/docs/api.html#/paths/~1api~1photometry/put, specifically there is no filter field for UVW2, UVM2 and UVW1 UVOT filters.
I understand this was supported before on fritz so i submit this as a bug.

[2020-11-19 12:02] erezimm opened #48 "Missing epochs in ZTF20acrinvz"
Looking at the lightcurves of ZTF20acrinvz in both the Growth Marshal and in Fritz I see an extra observation in g band in the growth marshal that does not show up in the fritz
![image](https://user-images.githubusercontent.com/53300818/99664035-36430e00-2a70-11eb-8130-b82ec6c849d7.png)
vs
![image](https://user-images.githubusercontent.com/53300818/99664061-3fcc7600-2a70-11eb-8aa1-c551a9b0a0f3.png

[2020-11-19 12:43] lpsinger commented on #43
It would take me a while to get up to speed here.

[2020-11-19 12:56] katemaguire opened #49 "Update coordinates to be in format that is more easily parsed to other tools and include them in degrees."
Current objects coordinates on Fritz are "02h54m59.2s  +04d03m36.87s", which don't parse well to other tools. Request to be updated to the format "17:25:39.16 +59:26:48.4" as on Growth Marshall. Also would be good to have in degrees too as on GM.

   

[2020-11-19 13:13] virajkaram opened #50 "Different offset stars in the finder and starlist"
Please fill out relevant sections below; remove those that are unused.

**Describe the bug**
For some sources, the offset stars in the starlist and those in the finder chart are different

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'Observing Runs'
2. Click on '2020-11-18 DBSP/Palomar 5.1m Hale (PI: Shri Kulkarni / Group: Redshift Completeness Factor)'
3. Scroll down to 'ZTF20abfcs

[2020-11-19 17:59] AndyTza opened #51 "[Bug Report] - Permission Issue with Marked as Observed/Not Observed"
**Describe the bug**
It appears that if you go on the _Observing Runs_ page and click on an observing run (for example DBSP 2020-11-18), and try to mark it as "observed" or "not observed"  on the actions. The problem is that if the user has not assigned the source, they **cannot** mark the source as observed/not observed (it returns a permission issue..).

**To Reproduce**
Steps to reproduce the b

[2020-11-19 18:14] AndyTza commented on #51
Duplicate bug of https://github.com/fritz-marshal/fritz-beta-feedback/issues/46#issue-746340676

[2020-11-19 18:24] dannygoldstein commented on #46
Closing in favor of #46 which provides sufficient information to reproduce the issue.

[2020-11-19 18:24] #46 closed

[2020-11-19 21:36] scizen9 commented on #12
The color pallette for the spectra includes yellow as the second item, which is unfortunate as it is not very visible.  Is there any way to put yellow much further down the list of colors?

[2020-11-19 22:00] dannygoldstein commented on #48
Will be addressed by https://github.com/skyportal/skyportal/issues/1368

[2020-11-19 22:03] dannygoldstein commented on #48
Actually, that issue already cover this use case. Closing as a duplicate of  https://github.com/skyportal/skyportal/issues/1368 - when that issue is addressed it will fix this one.

[2020-11-19 22:03] #48 closed

[2020-11-19 22:04] dannygoldstein commented on #47
Fixed by https://github.com/skyportal/skyportal/issues/1308

[2020-11-19 22:05] dannygoldstein commented on #49
Degrees are already included, look to the right  of the hexadecimal coords. I am fine to update the hexadecimal coords to colon notation.

[2020-11-20 23:30] #51 closed

[2020-11-21 13:09] joeljoh opened #52 "Mismatch of plotted spectra"
When displaying the spectra for ZTF20acpiywu the listed vs. plotted spectra are mismatched.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'https://fritz.science/source/ZTF20acpiywu'
3. Scroll down to 'spectroscopy'
4. Click e.g the "green" Lick 3-m/KAST (2020-11-15) or "purple" Palomar 1.5m/SEDM (2020-11-16) - these are mislabelled. (The "purple" Palomar 1.5m/SEDM (2020-11-16) shows

[2020-11-23 18:47] AndyTza opened #53 "[Bug Report + Feature Request] Data in Bokeh Lightcurve Plots Not Showing Labels"
**Describe the bug**
For many CLU sources (i.e ZTF19abekmfr is just one example) the bokeh lightcurves data points are missing their labels (i.e mjd, flux...).

**To Reproduce**
Steps to reproduce the behavior:
1. Go to source ZTF19abekmfr
2. Scroll down to lightcurve, and try to click on one data point from the photometry to see the labels of each point.
3. See missing entries

**Expected behavio

[2020-11-24 08:23] dekishalay opened #54 "Add offset PA in starlist"
Thanks for creating such a versatile starlist creator!!

**Feature Summary**
We would like to request adding the PA of the offset direction from the offset stars in the starlists. This would allow us to accurately orient the slit such that we can include the offset star inside the slit during the observations. This is necessary for extracting spectra of the faintest targets where we are often not

[2020-11-24 08:40] dekishalay opened #55 "Highlight CLU_z for CLU sources and add absolute magnitude automatically"
Thanks for making the CLU program so fast and easy to access!!

**Feature Summary**
One of the primary parameters we check for saved sources in CLU is the redshift of the host galaxy. For CLU crossmatched sources, this information is in the "z" parameter in the auto-annotations. Currently, the information is present inside a long list of other auto-annotations (inside 'cross_matches_CLU') for each

[2020-11-24 08:54] dekishalay opened #56 "Uploading and viewing permissions for spectra of sources without permission"
Kudos to the dev team for creating such an awesome API! It really feels great to have a fast responding API for uploading spectra from reductions :) Thanks for your help in sorting out this bug.

**Describe the bug**
We recently realized that a user that does not have permissions to view a source can upload a spectrum via the API, and then not have access to even viewing the spectrum that they upl

[2020-11-24 21:28] #44 closed

[2020-11-25 13:39] erezimm opened #57 "Consistent colors for r band and g band in the scanning page"
I noticed that in the scanning page if i band exists for a lightcurve then the r band  marker in the lightcurve turns red while i band is orange unlike the case where there have been no i band observations.
It would be nice if r band would always have a red marker, i band a yellow marker and g band a green marker like in the GROWTH marshal.
Thanks!
![image](https://user-images.githubusercontent.co

[2020-11-25 13:48] erezimm opened #58 "Have current date as default scanning time"
It would be very convenient if the default scanning dates in the marshal would be the current date from midnight to the next days midnight *in UTC* (and not local browser time since that might be a problem for people in different time zones).
Currently one always has to enter the relevant scanning time manually, but i thing that for most cases one is scanning for the current night.
Thanks!

(From

[2020-11-25 15:51] idoirani opened #59 "Increase size of classification font on source page"
Hi,
The classification is shown with very small font size. I recommend increasing it so that it is immediately visible that a transient is classified, since it's currently easy to miss.

Cheers,
Ido

[2020-11-25 15:58] idoirani opened #60 "Add aladin applet to view field in other surveys"
Hi,

It would seem like a good idea to me to have a similar aladin applet on fritz as in TNS. This allows the user to view the larger context of the field, which is especially useful to discriminate between hostless and high offset SNe, or to view the field in different wavelengths. An alternative/additional request is to add links to the larger PS1 cutouts similarly to the growth marshal (Current

[2020-11-25 16:13] idoirani opened #61 "Improve observability tab"
Currently, it is hard for the user to find his/hers observatory of interest. I suggest showing the plots only for selected observatories.

Also, the "hours over airmass 2.5" plot in the growth marshal was very useful in planning observations. Please add it in Fritz as well.

Thanks!
Ido

[2020-11-25 20:59] dmitryduev commented on #21
@acrellin would you mind taking this one on? This was also brought up by Shri recently.

[2020-11-25 21:13] acrellin commented on #21
@dmitryduev sure thing. How about a "requested to join" table on the group page that admins can view, with accept/decline buttons for each request?

[2020-11-25 21:19] dmitryduev commented on #21
Sounds good! + a "request joining" button for each group that a user is not a member of or something like that.

[2020-11-25 22:07] dannygoldstein commented on #12
@steveschulze Can you send over the lines you want shown ?

[2020-11-25 23:19] #52 closed

[2020-11-25 23:22] #29 closed

[2020-11-26 01:08] dannygoldstein commented on #53
@andytza - I can't reproduce this. The points all show up for me.

[2020-11-26 01:11] dannygoldstein commented on #24
fixed by https://github.com/dmitryduev/kowalski/pull/38

[2020-11-26 01:11] #24 closed

[2020-11-26 01:12] #39 closed

[2020-11-26 01:12] dannygoldstein commented on #39
Fixed by #1390

[2020-11-26 01:13] #47 closed

[2020-11-26 06:37] #60 closed

[2020-11-26 07:44] dmitryduev commented on #55
The first part of the request is not really a Fritz issue -- you should implement it in the last stage of your filter:
[code]
Out of courtesy, I have just added this to the CLU filter and saved the new version.

As for setting the redshift when saving a CLU candidate -- this is too custom to one specific program + the logic even in that case is somewhat ambiguous (e.g. which one to pick if there a

[2020-11-26 07:44] #55 closed

[2020-11-26 07:48] dmitryduev commented on #57
@stefanv https://github.com/vega/vega-lite/issues/6708 is still an open issue...

[2020-11-26 14:08] rjoebruch opened #62 "No image/ref/sub but only sdss/dr8"
On the scanning page of RCF, there are candidates not showing any image from P48

Steps to reproduce the behavior:
1. Go to scanning page, choose time 2020-11-26 00:00 til 2020-11-26 23:59
2. Choose RCF (leave the unsaved events option)
3. Scroll down to 16th candidate row
4. See error

 - Fritz version:  v0.9.dev0+git20201125.95d9e76+fritz.7d7a638.
 - Browser
   - [ Chrome ] I'm browsing on a des

[2020-11-26 14:49] rjoebruch opened #63 "SEDm trigger on Fritz from RCF but transient not saved to RCF ?"
**Describe the bug**
While scanning for RCF, a transient passed the filter and was not previously saved to RCF bbut SEDm was already trigggered on the RCF program

**To Reproduce**
Steps to reproduce the behavior:
1. Go to  scanning page, select time 2020-11-26 00:00 until 2020-11-26 23:59
2. Select RCF program and display only unsaved candidates
3. Scroll down to page 3
4. See error

**Expected b

[2020-11-27 07:25] steveschulze commented on #12
Hi @dannygoldstein, we are compiling a line list.

Another thing. When I set the line velocity by a numerical value, I need to leave the velocity field first before the new value is applied. It would be better if a change is applied immediately without the need of leaving the field.

[2020-11-29 11:52] idoirani opened #64 "No way to download spectra from fritz"
Hello,

There is currently no way to download spectra from fritz as ascii/FITS files. It would be good to add this, in addition to ways to view the header.

Thanks,
Ido

[2020-11-29 12:36] rjoebruch opened #65 "Limiting magnitude measurement difference between Fritz and Marshal"
**Describe the bug**
The photometry displayed on the marshal and Fritz have different value (especially for the limiting magnitude measurement)

**To Reproduce**
Steps to reproduce the behavior:
1. Go to http://skipper.caltech.edu:8080/cgi-bin/growth/plot_lc.cgi?name=ZTF20acufmte
2. (and) Go to https://fritz.science/source/ZTF20acufmte
3. download the photometry table of ZTF20acufmte from Fritz
4.

[2020-11-29 12:46] rjoebruch opened #66 "Online accessible photometry"
We would like to have the following features regarding photometry:
- (most urgent) an online visualisation of the photometry table (without having to download a CSV file)
- photometric table is arranged according to time (if we could have JD, that would be even better to avoid discrepancy with the marshal)
- have a measure of the apparent magnitude for detections
- have a column for program ID (MS

[2020-11-29 18:52] dannygoldstein commented on #64
duplicate of #30

[2020-11-29 18:52] #64 closed

[2020-11-29 20:57] dannygoldstein commented on #62
I believe this happens when AMPEL posts objects to Fritz, can you confirm @jvansanten?

[2020-11-29 21:07] dannygoldstein commented on #66
@dmitryduev Need to close https://github.com/fritz-marshal/fritz/issues/87 to address the last point

[2020-11-29 21:43] jvansanten commented on #62
That's correct, and has to do with the way that candidate ownership semantics interact with thumbnails. Thumbnails are tied to a source, not a candidate, and our bot user has no way to know if a source exists in a secret program it doesn’t have access to. This means that we can't post cutouts without blowing away ones that might already exist. Kowalski can in principle know what exists, since its

[2020-11-30 08:47] rjoebruch opened #67 "Source page displays twice the photometry"
**Describe the bug**
On the source page, the photometry (and spectroscopy) is displayed twice.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to source page (e.g. https://fritz.science/source/ZTF20acuaqlf)
2. Scroll down to photometry
4. See error (+see screenshot)

**Expected behavior**
Only one window displaying the photometry
(and *if possible* making the data points and labels and ti

[2020-11-30 08:50] rjoebruch commented on #62
thanks for your response! staying tuned for developments

[2020-11-30 17:27] rlunnan opened #68 "Permissions on spectra uploaded through web form not set correctly."
**Describe the bug**
After uploading a spectrum through the web form, even though the "Share With" menu has one or multiple groups selected, in the end only the uploader has permission to see the spectrum.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to the web form for uploading spectra (e.g. https://fritz.science/upload_spectrum/ZTF20aceicyy) and attempt to upload spectrum through we

[2020-11-30 18:41] dannygoldstein commented on #63
Currently we allow anyone who is a member of a group to trigger the group's robotic allocations on an Object (regardless of whether the object was saved to the group associated with the allocation).

[2020-11-30 18:47] dannygoldstein commented on #65
@rjoebruch the limiting magnitudes on Fritz are based on the 5-sigma flux error at the location of the transient whereas the limiting magnitudes on the marshal are an average quantity across the entire image. in order to bring the values on fritz into agreement with what is on the GM, we need to merge https://app.zenhub.com/workspace/o/fritz-marshal/fritz/issues/87. but what is currently there is

[2020-11-30 18:58] dannygoldstein commented on #68
thanks for catching this @rlunnan, I found the cause of the problem and will be pushing up a fix shortly.

[2020-11-30 19:25] dannygoldstein commented on #67
Should be fixed by https://github.com/skyportal/skyportal/issues/1250

[2020-11-30 20:53] joeljoh opened #69 "i-band photometry not visible on Source page"
**Describe the bug**
I-band photometry for some objects is not shown on the source page.
When saving e.g. ZTF20abfadbm, gri photometry is shown on the Alerts page but not on the source page.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to Alerts page: https://fritz.science/alerts/ztf/ZTF20aawabry
2. Go to Source page: https://fritz.science/source/ZTF20aawabry
3. See no i-band

**Screen

[2020-11-30 20:55] dannygoldstein commented on #69
Duplicate of #28, will be fixed by https://github.com/skyportal/skyportal/issues/1368

[2020-11-30 20:55] #69 closed

[2020-12-01 00:01] #68 closed

[2020-12-01 09:58] rlunnan commented on #68
I just attempted to re-upload a spectrum of https://fritz.science/share_data/ZTF20acjaayt, and it is still visible to only me. Either the fix is not yet in effect, or the bug is still there in some form?

[2020-12-01 17:44] dannygoldstein commented on #68
Hasn’t been deployed yet

________________________________
From: rlunnan <notifications@github.com>
Sent: Tuesday, December 1, 2020 1:59:14 AM
To: fritz-marshal/fritz-beta-feedback <fritz-beta-feedback@noreply.github.com>
Cc: Danny Goldstein <dgold@berkeley.edu>; Assign <assign@noreply.github.com>
Subject: Re: [fritz-marshal/fritz-beta-feedback] Permissions on spectra uploaded through web form not

[2020-12-02 01:53] #58 closed

[2020-12-02 19:26] sgezari opened #70 "Comments bubbles"
The bubbles around the comments on each source page take up too much room.  You have to scroll to see all of them.  In the old GROWTH Marshal you could see all the comments easily in one page.  The comments should be all visible at once without having to scroll.  Perhaps changing the format to not have bubbles around the text that take so much room.

[2020-12-02 20:17] eriksoest opened #71 "Target name in browser tab"
Please fill out relevant sections below; remove those that are unused.

**Feature Summary**
Target names in the browser tabs would help a lot in browser navigation. I usually have more than one target open in the browser and currently they are all named "fritz", which means I have to click on them and inspect the page to figure out which target it is.

**Usage / behavior**
The tab is named after i

[2020-12-03 02:02] stefanv commented on #67
Fixed by https://github.com/skyportal/skyportal/pull/1293

[2020-12-03 02:03] stefanv commented on #66
@dannygoldstein Want to split that up into a separate issue?

[2020-12-03 02:06] stefanv commented on #61
:wave: @idoirani Thank you for your feedback.

Could you please expand your description of the issue according to our [issue template](https://raw.githubusercontent.com/fritz-marshal/fritz-beta-feedback/master/.github/ISSUE_TEMPLATE/feature_request.md)?

We would like to track issues one by one, so please file an additional issue for the "hours over airmass 2.5" request [by clicking here](https://

[2020-12-03 02:09] stefanv commented on #57
Duplicate of https://github.com/skyportal/skyportal/issues/681

[2020-12-03 02:10] stefanv commented on #53
@AndyTza Could you point us to a specific source that exhibits this behavior?

[2020-12-03 02:11] stefanv commented on #43
@dannygoldstein If very cheap, sounds like it can be run on the fly.  Do we simply do a cone search using hp alchemy?

[2020-12-03 02:12] stefanv commented on #42
Closed by https://github.com/skyportal/skyportal/pull/1374

[2020-12-03 02:13] stefanv commented on #37
@dmitryduev Is the procedure above something you intend to implement, or does this require further discussion?

[2020-12-03 02:14] dannygoldstein commented on #42
Still open, will be closed by skyportal/skyportal#1307

[2020-12-03 02:15] stefanv commented on #36
I am going to close this issue for now, since we cannot act on it. Feel free to re-open or create a new issue when the above interfaces are available.

[2020-12-03 02:15] #36 closed

[2020-12-03 02:17] stefanv commented on #27
@dmitryduev @acrellin Can we agree on what a satisfactory solution to this would be?

[2020-12-03 02:17] stefanv commented on #27
Related to https://github.com/fritz-marshal/fritz-beta-feedback/issues/26

[2020-12-03 02:18] dannygoldstein commented on #43
Yep that would do it.

[2020-12-03 02:18] stefanv commented on #26
The question has been answered, so I am closing for now.  Refer to #27 for feature request.

[2020-12-03 02:18] #26 closed

[2020-12-03 02:19] AndyTza commented on #53
Hi @stefanv,

It seems like the labels are not working for me for any given source (i.e **ZTF19abekmfr**, was is just one example). I am not sure if this is linked to my account specifically. Thanks so much!

[2020-12-03 02:19] stefanv commented on #25
/ping @steveschulze

[2020-12-03 02:20] stefanv commented on #20
@dmitryduev Does the current sandboxing environment provided via Kowalski allow for this, or do we need to build additional functionality?

[2020-12-03 02:22] stefanv commented on #18
I am going to close this compound issue for now.  Please create issues for each individual issue, wherever still applicable, and we will gladly respond to each.

[2020-12-03 02:22] #18 closed

[2020-12-03 02:24] stefanv commented on #13
Let's see how this looks once https://github.com/skyportal/skyportal/pull/1293 goes in.

[2020-12-03 02:24] stefanv commented on #12
@dannygoldstein I know you've closed some of these items recently. Can you please split remaining issues into separate tickets? Thanks!

[2020-12-03 02:29] stefanv commented on #53
Thanks, @AndyTza. This is still the case now?

[2020-12-03 02:33] AndyTza commented on #53
@stefanv Yep, still nothing.

<img width="1423" alt="Screen Shot 2020-12-02 at 9 32 39 PM" src="https://user-images.githubusercontent.com/22720676/100956219-01aa6a00-34e6-11eb-94f1-2249960c239a.png">

[2020-12-03 05:20] stefanv commented on #13
Names are truncated, but the horizontal scroll bar allows you to view them in full.

[2020-12-03 05:22] stefanv commented on #53
I'm afraid I can't replicate.  Could you try ctrl-shift-R to see if a JavaScript refresh helps?

[2020-12-03 08:03] dmitryduev commented on #20
There's actually a Sandbox group with empty filters that we've created a while ago, but evidently I forgot to actually add folks to it. Just did so (added both Jakobs) -- feel free to flood. [The candidates would get vacuumed in a week, as always.]
Closing this.

[2020-12-03 08:03] #20 closed

[2020-12-03 09:54] SiPrentice opened #72 "Candidate search criteria"
**Feature Summary**
It should be possible to filter candidate searches by **classification**, and **redshift**.
For example, I'm looking to find all the SNe Ia within a particular volume, as per our group's science goals, but currently there seems to be no way to do this.

**Usage / behavior**
In the search area the user should be able to specify at classification type or types ,and a redshift ran

[2020-12-03 15:15] AndyTza commented on #53
@stefanv it started working this morning. Thank you so much! 👍

[2020-12-03 15:15] #53 closed

[2020-12-03 21:38] steveschulze commented on #47
Hi, I tried to upload UVOT data today but it failed. Do you know when we can upload UVOT data again? This is a critical issue. We observe very often transients with Swift. These observations are critical to deciding on the follow-up with various other telescopes.

[2020-12-03 21:51] dannygoldstein commented on #47
Should work now

[2020-12-03 21:51] dannygoldstein commented on #47
Just had to update the filters on the instrument in the database

[2020-12-04 06:41] stefanv commented on #53
![image](https://user-images.githubusercontent.com/45071/101130622-aa28fe80-35b8-11eb-8a25-6fb50a2133bf.png)

[2020-12-04 06:42] stefanv commented on #53
![simon_the_sorcerer-simon2a](https://user-images.githubusercontent.com/45071/101130707-cfb60800-35b8-11eb-895f-870bf41a4128.gif)

[2020-12-04 13:29] rlunnan opened #73 "Once an object's redshift is set, add "Rest Wavelength" axis on spectroscopy plot"
**Feature Summary**
Once an object has an associated redshift saved, show the corresponding rest wavelength on an x-axis (for example, along the top x axis of the spectroscopy plot).

**Usage / behavior**
Seeing the rest wavelengths corresponding to the redshift set is extremely helpful contextual information for being able to identify and analyze the features in the spectrum more intuitively. Thi

[2020-12-04 18:16] #45 closed

[2020-12-05 20:00] #71 closed

[2020-12-07 20:19] acrellin commented on #67
The fix for this has been implemented and deployed

[2020-12-07 20:19] #67 closed

[2020-12-08 08:17] dmitryduev commented on #37
@stefanv this is fairly straightforward and I don't think this requires further discussion.
Started building the index on `candidate.ssnamenr`.

[2020-12-08 10:36] rjoebruch opened #74 "Free text for the observers/reducers in the spectra uploads"
**Feature Summary**
May we type free text instead of a roll-down menu for the observers and reducers in the spectra upload?

[2020-12-09 02:32] janvanroestel opened #75 "Search for alerts by coords"
**Feature Summary**
Search for alerts by coordinates.

**Usage / behavior**
Similar to the current Fritz "Alerts" tab which allows to search for alerts by ZTF objectID, add a search option for alerts by ra,dec.

**Implementation details**
This ability was available in the Kowalski Alertlab.

[2020-12-09 05:18] dannygoldstein commented on #74
This is how we had it originally; @mansikasliwal specifically requested that we not do this so that spectra always were associated with a user account (so they could be contacted and cited appropriately in papers).

[2020-12-09 06:14] rjoebruch commented on #74
I see... this should indeed facilitate the citation.
But what do we do when uploading spectra from external sources  (eg ZTF20acvjagm, spectra from the EFOSC). I left the observers and reducers fields empty and just added a comment to the object.
Maybe we could have in the rolldown menu an option called “external” which allows free text?

Thanks!

נשלח מה-iPhone שלי

[2020-12-09 06:22] stefanv commented on #74
@dannygoldstein Maybe worth discussing this use case with Mansi---there's clear utility.

[2020-12-09 19:03] #21 closed

[2020-12-09 19:10] dannygoldstein commented on #74
@rjoebruch In that case, one could leave the fields blank? (they are not required). Is there a pressing need to identify who took /reduced the spectrum when it is coming from an external source (presumably by that point it is already public)?

[2020-12-09 19:20] dannygoldstein commented on #74
Mansi says - Hi Danny, Rachel has a point. Please allow external but require a point of contact who is a Fritz user so that someone can be contacted when publishing the data.

[2020-12-13 21:55] yaoyuhan opened #76 "Spectrum is not displayed on the Fritz page"
**Describe the bug**
I uploaded the spectra for a few objects. Sometimes the spectra do not appear in the plotting figure (such as https://fritz.science/source/ZTF20acqoiyt and https://fritz.science/source/ZTF20acnznms). I can click on “Keck/LRIS (2020-12-12)” option but nothing shows up. And sometimes the upload fails and I get an error of “Out of range float values are not JSON compliant”, such

[2020-12-14 18:02] #72 closed

[2020-12-14 19:19] acrellin commented on #76
@yaoyuhan Thanks for bringing the issue to our attention. However, we need more information from you in order to determine exactly what is going on. Can you please provide the API calls you made to upload the spectra?

[2020-12-14 19:47] yaoyuhan commented on #76
Hi -- I used the front-end to upload the spectra. The following is what I did:
- click on "Upload Additional Spectroscopy"
- Choose the file
- Set the MJD and Instrument
- Upload

[2020-12-14 23:00] #76 closed

[2020-12-15 19:56] dmitryduev commented on #25
/ping @guynir42

[2020-12-16 20:55] #30 closed

[2020-12-16 20:55] #33 closed

[2020-12-28 12:41] rjoebruch opened #77 "Time negative photometry points"
Some light curves display photometry points "in the future" on the scanning page.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to scanning page
2. Select 27/12/2020 8:30 until 28/12/2020 23:58
3. Select program "Infant Supernovae"
4. Sort alerts according to "jd_det" in descending order
5. Look for candidate: https://fritz.science/source/ZTF20acyvzbr

**Expected behavior**
Expecting no

[2021-01-01 09:24] idoirani opened #78 "Allow searching for unclassified transients/ allow multi-choice"
When scanning for  various programs, a great filtration would be to allow to search for unclassified transients, or for transient without a specific classification. In this sense I mean a real astrophysical classification and not e.g. a "hosted" classification. A useful implementation of this could be to allow multiple choices in the classification menu, and to include "no classification" as an op

[2021-01-06 09:10] guynir42 commented on #25
Will be closed by skyportal #1561

[2021-01-06 17:55] guynir42 commented on #25
closed by skyportal #1561

[2021-01-07 07:20] #25 closed

[2021-01-07 10:44] noralinn commented on #75
I also missed this feature today! While scanning we wondered whether the second source close to https://fritz.science/source/ZTF21aabpszb is real. The Growth Marshal cone search finally revealed that it was an old SN Ia.

The Growth Marshal would also let you know when a transient is close to a previously saved source. Such a feature would also be useful.

[2021-01-11 18:21] dannygoldstein commented on #73
@scizen9 can you take this one?

[2021-01-11 19:30] dannygoldstein commented on #77
Does refreshing the page fix this?

[2021-01-12 07:25] scizen9 commented on #73
Yes, sign me up!

[2021-01-12 18:36] scizen9 opened #79 "Developer Guidelines documentation error"
Please fill out relevant sections below; remove those that are unused.

**Describe the bug**
The command "git remote add upstream git@github.com:fritz/fritz" is in error.  It should read "git remote add upstream git@github.com:fritz-marshal/fritz".

**To Reproduce**
Steps to reproduce the behavior:
Go to: https://docs.fritz.science/developer.html
Error can be seen in "How to contribute" instructio

[2021-01-12 18:54] stefanv commented on #79
Good catch @scizen9!  Do you mind filing a pull request to fix that?

[2021-01-12 19:43] acrellin commented on #79
Addressed by  https://github.com/fritz-marshal/fritz/pull/144

[2021-01-12 19:43] #79 closed

[2021-01-13 15:00] scizen9 opened #80 "Bokeh hover tool does not work for spectum plots"
Please fill out relevant sections below; remove those that are unused.

**Describe the bug**
The mouse hover over the photometry plot in fritz produces the expected formatted data pop-up.  No pop-up appears for the corresponding spectrum plot, in spite of there being code for the hover and the hover tool appearing in the tool bar.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to any tar

[2021-01-14 12:16] steveschulze opened #81 "Sorting of spectra"
Hi,

This is from the object page of https://fritz.science/source/ZTF21aabpnlm.

Several spectra were obtained but uploaded in random order. The ranking in the legend is according to the upload date, not date-obs (see picture).

The expected behaviour is that the spectra are always sorted according to the date-obs.

![bug_report_sort according to time](https://user-images.githubusercontent.com/115

[2021-01-14 12:26] steveschulze opened #82 "Annoting spectra"
Hi,

**Usage / behavior**
It should be possible to annotate and attach files to spectra, e.g., lines are particularly narrow or wide or spectrum shows line X. This helps people to see immediately what is peculiar about a certain spectrum. People can easily overlook critical information if such comments or files are only shown only in the "Comments" section. These comments should also appear in the

[2021-01-18 15:12] steveschulze commented on #12
Weizmann prepared a list of lines and feature groups that would we would like to see on Fritz.

[code]

[2021-01-19 09:45] janvanroestel opened #83 "lightcurve figure y-range too large"
Please fill out relevant sections below; remove those that are unused.

**Describe the bug**
For some sources (stellar?), there can be upperlimits with values of >1000 or <1000 mag. These set the y-range of the very large values, and make the figure useless.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to https://fritz.science/alerts/ztf/ZTF17aabupib
2. Scroll down to the 'Photometry a

[2021-01-19 19:13] scizen9 commented on #80
Fixed by [PR #1594](https://github.com/skyportal/skyportal/pull/1594)

[2021-01-19 19:13] #80 closed

[2021-01-19 19:17] scizen9 commented on #73
Implemented with [PR #1591](https://github.com/skyportal/skyportal/pull/1591)

[2021-01-19 19:17] #73 closed

[2021-01-19 19:25] scizen9 opened #84 "Show when spectra were taken on photometry plot"
**Feature Summary**
Show on photometry plot when spectra were taken.

**Usage / behavior**
Show an annotation (line or symbol) on the photometry plot that shows when a spectrum for the object was taken.  This was implemented in the GM using an "S" symbol above the axis at the time.

**Implementation details**
We could implement it as a line with hover details, similar to first and last detections.

[2021-02-10 07:45] dmitryduev commented on #27
@Yashvi-Sharma sent an invite to you - will tag here once you've accepted. Thanks!

[2021-02-15 08:57] rlunnan opened #85 "Missing ZTF photometry on Fritz (ZTF21aahdrvj)"
**Describe the bug**
The Fritz page for https://fritz.science/source/ZTF21aahdrvj shows only three detections and no data since Feb 5, 2021. Data has been taken multiple nights since, but has not been updated on Fritz.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to https://fritz.science/source/ZTF21aahdrvj
2. Look at the photometry plot and/or photometry table
3. Compare to the data s

[2021-02-17 17:38] AndyTza opened #86 "Unable to See Filter on Fritz"
I am currently unable to see the filter for any program (i.e CLU, RCF...). The filter will not load and says that it `"Failed to Fetch Data from Kowalski"`

**To Reproduce**
1. Go to the Groups page
2. Click on Census of the Local Universe Caltech
3. Scroll down to Alert Streams and Filters
4. Click on "clu" filter
5. See the error message

**Expected behavior**
We used to be able to see the most

[2021-02-17 18:34] dmitryduev commented on #86
Yeah, sorry about that @AndyTza. We refactored the Kowalski side of filtering, but the corresponding PR on Frtiz has not been merged yet (https://github.com/fritz-marshal/fritz/pull/153), working on that.

[2021-02-19 18:15] scizen9 opened #87 "Add UT time to UT date in hover info on spectral plot"
**Feature Summary**
Currently the hover in the spectral plot only shows UT date.  If two spectra are taken on the same day (rare, but possible), there is no way to know which came first.

**Usage / behavior**
Add UT time as well as date.

**Alternative Solutions**
Could add a separate item, but cleaner solution is to just add UT time to date string

**Implementation details**
Change format of spec

[2021-02-19 21:51] scizen9 commented on #87
Fixed by [PR#1686](https://github.com/skyportal/skyportal/pull/1686)

[2021-02-19 21:51] #87 closed

[2021-02-19 21:52] scizen9 commented on #81
Fixed with [PR#1674](https://github.com/skyportal/skyportal/pull/1674)

[2021-02-19 21:52] #81 closed

[2021-02-19 23:10] dmitryduev commented on #86
This has been fixed, merged, and deployed, so closing. @AndyTza lmk if it works as expected.

[2021-02-19 23:10] #86 closed

[2021-02-20 01:29] scizen9 opened #88 "Hovers on spec plot still show even when spectrum not visible"
**Describe the bug**
If you turn off a spectrum, the hover will still show up.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to [https://fritz.science/source/ZTF21aadoizf](https://fritz.science/source/ZTF21aadoizf)
2. Deactivate any spectrum using toggles on the right
3. Hover mouse over spectrum
4. See hover show up for deactivated spectrum

**Expected behavior**
The hover should deact

[2021-02-25 00:28] scizen9 commented on #84
Enhancement added with PR#1658

[2021-02-25 00:28] #84 closed

[2021-02-25 00:29] scizen9 commented on #88
Bug fixed with PR#1689

[2021-02-25 00:29] #88 closed

[2021-03-02 19:49] acrellin commented on #38
Mansi prefers only allowing the owner to delete

[2021-03-02 20:16] acrellin commented on #13
Let's leave off telescope name in legend, but viewable in a tooltip

[2021-03-03 19:34] steveschulze commented on #13
This would be great. This provides no additional information. The users usually know which instrument is mounted at which telescope.

[2021-03-05 19:39] #13 closed

[2021-03-08 19:51] AndyTza opened #89 "Clear Redshift Entry for a Source"
**Feature Summary**
We would like to add a new feature where the user can remove the current redshift entry on a source and show nothing (i.e how it looks like if there was no redshift entry). This feature is specifically very useful to have for the RCF & CLU working groups. There are many times we want to see the absolute magnitude evolution of a lightcurve but then remove that redshift if we are

[2021-03-15 21:47] #89 closed

[2021-03-17 19:11] scizen9 opened #90 "Crosshair misalignment when target not centered in ZTF cutout"
**Describe the bug**
When the target is not centered in the ZTF cutout, the crosshair is mis-aligned

**To Reproduce**
Steps to reproduce the behavior:
 Go to https://fritz.science/source/ZTF21aamqgid
Examine cutouts.

**Expected behavior**
Regardless of target placement in ZTF cutout, the crosshair should be centered on the target.

**Screenshots**

![image](https://user-images.githubusercontent.

[2021-03-17 19:14] dmitryduev commented on #90
Duplicate of https://github.com/dmitryduev/kowalski/issues/82, so closing.

[2021-03-17 19:14] #90 closed

[2021-03-19 09:22] steveschulze opened #91 "Legend in photometry plot truncates the size of the light curve figure."
Hi,

Example: https://fritz.science/source/ZTF21aaoiaar

Problem: The legend determines the size of the plot. The legend is too long and should only show vital information.

Cheers,

Steve
![Screenshot 2021-03-19 at 10 18 42](https://user-images.githubusercontent.com/11585543/111758430-cec19180-889c-11eb-99a8-fb254868b347.png)

[2021-03-21 17:09] scizen9 commented on #91
This can probably be fixed by using the bokeh figure variable frame_width, instead of just width.

[2021-03-21 17:34] steveschulze commented on #91
Great!

Sometimes, the legends contain also information that is not relevant at all. For instance, it’s not relevant to know which LCOGT telescope was used.

Cheers,

Steve

From: Don Neill ***@***.***>
Reply to: fritz-marshal/fritz-beta-feedback ***@***.***>
Date: Sunday, 21. March 2021 at 18:09
To: fritz-marshal/fritz-beta-feedback ***@***.***>
Cc: Steve Schulze ***@***.***>, Author ***@***.***>

[2021-03-24 17:38] #91 closed

[2021-03-25 07:36] guynir42 commented on #27
closed by skyportal/skyportal#1757

[2021-03-25 07:36] #27 closed

[2021-03-25 14:30] MatSmithAstro opened #92 "Missing MSIP data on source page"
Hi there,

I've recently been added to the 'SNLensing' group on fritz, but have come across something odd: the photometry shown on the source page doesn't include public (MSIP) data.

An example (ZTF21aaqojqu) is attached. As you can see, the source page (https://fritz.science/source/ZTF21aaqojqu) only contains SEDm photometry, while the alerts page (https://fritz.science/alerts/ztf/ZTF21aaqojqu)

[2021-03-29 21:11] #75 closed

[2021-03-31 12:57] steveschulze opened #93 "Missing filters for instruments. Users must be able to add them."
Hi,

Several instruments have pre-configured filters, e.g., Bessel filters for NOT/ALFOSC. We observed with ALFOSC but used SDSS filters. How can we upload such observations to Fritz?

It is very important that users can modify existing instrument configurations and modify those if needed, or that there is a dedicated contact person who can make these changes on short notice.

Cheers,

Steve

[2021-04-02 14:38] scizen9 opened #94 "Source search menu anomaly"
Please fill out relevant sections below; remove those that are unused.

**Describe the bug**
After selecting a source and it fully loading it's page, when I scroll, a list of unrelated sources appears below the search box.

**To Reproduce**
Steps to reproduce the behavior:
1. Type a partial search string into source search box in left-hand panel
2. Select source to display source page
3.  Use scro

[2021-04-03 11:23] steveschulze opened #95 "Can't (de)select spectra for long spectroscopic time-series"
Problem: If the legend exceeds a critical length, it's not possible anymore to select or deselect more recent spectra. A screenshot from ZTF21aakilyd is attached.

![Screenshot 2021-04-03 at 13 18 55](https://user-images.githubusercontent.com/11585543/113477042-a1b9d500-947f-11eb-9b6a-af8092d31460.png)

[2021-04-03 11:27] steveschulze opened #96 "Toggle on/off button for light curve and spec plots"
Hi,

For long spectroscopic or extensive photometric follow-up campaigns, it is time-consuming to toggle on/off certain data sets.

Desired behaviour: A button that toggles on/off everything. Screenshots are attached.

![Screenshot 2021-04-03 at 13 25 40](https://user-images.githubusercontent.com/11585543/113477142-3b818200-9480-11eb-86c6-84d5566ab89d.png)
![Screenshot 2021-04-03 at 13 25 03](http

[2021-04-11 14:37] scizen9 opened #97 "Need vertical size adjustment for phot, spec plots when legend overfills current frame"
Please fill out relevant sections below; remove those that are unused.

**Feature Summary**
If there are many sources of photometry, or many spectra, the legend extends beyond the lower limit of the frame.  This should be tested for and a vertical scroll bar added if required.

**Usage / behavior**
Should count number of photometry sources, or number of spectra and add vertical scroll bar if it ex

[2021-04-14 17:16] scizen9 commented on #95
[Issue#97](https://github.com/fritz-marshal/fritz-beta-feedback/issues/97) addresses this more generally to include photometry plots, which can have the same problem.

[2021-04-14 18:15] scizen9 commented on #56
Has this been addressed by the new permissions infrastructure?

[2021-04-14 18:55] scizen9 commented on #96
This being addressed by the bokeh project in their [Issue#8841](https://github.com/bokeh/bokeh/issues/8841).  Once these other modes for "click_policy" are implemented, we can adopt them to fix this.

[2021-04-20 16:28] scizen9 opened #98 "alert aux data empty for /api/alerts/ztf/<ZTFNAME>/aux"
**Describe the bug**
A get from /api/alerts/ztf/<ZTFNAME>/aux returns an empty "data" dictionary.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to https://fritz.science/api/alerts/ztf/ZTF21aaskyvp/aux
2. See error

**Expected behavior**
Expected a full alert dictionary of aux information, specifically including TNS cross_matches.

**Screenshots**
`{
  "status": "success",
  "data": [],

[2021-04-20 17:06] acrellin commented on #98
Endpoint has been moved to https://docs.fritz.science/api.html#tag/alerts/paths/~1api~1alerts_aux~1object_id/get

[2021-04-20 17:06] #98 closed

[2021-04-20 18:53] dmitryduev commented on #42
Fixed and deployed, closing.

[2021-04-20 18:53] #42 closed

[2021-04-20 19:24] dmitryduev commented on #49
Implemented, closing.

[2021-04-20 19:24] #49 closed

[2021-04-20 19:27] #63 closed

[2021-04-20 19:30] dmitryduev commented on #94
@scizen9 could this be closed now?

[2021-04-21 16:14] scizen9 commented on #94
Recent updates appear to have fixed this.

[2021-04-21 16:14] #94 closed

[2021-04-25 20:07] dmitryduev commented on #37
There is now an index on `candidate.ssnamenr`, so pulling alerts by that is very fast.

To allow filtering on that in Fritz, a new kind of a filter needs to be implemented:
- Add a flag/field to K filter definition `{solar_system: <true|false>}`, propagate this to the SP filtering extension
- Define dedicated upstream stages for filters with `{solar_system: true}` (see https://docs.fritz.science/u

[2021-04-25 20:14] dmitryduev commented on #37
@brycebolin @AshishMahabal as you can see, it's all very doable, but there's quite a bit of work to do.
Perhaps a faster way to achieve the same thing as discussed above would be to implement a custom sentinel service, somewhat similar to the one I wrote for Tails.
That service would:
- periodically query Kowalski for the latest batches of alerts with `candidate.ssnamenr` that is not null and `can

[2021-04-25 20:22] dmitryduev commented on #77
Should be fixed by https://github.com/skyportal/skyportal/pull/1910, closing,

[2021-04-25 20:22] #77 closed

[2021-04-25 23:49] AshishMahabal commented on #37
@dmitryduev Thanks. The time series/polynomial fitting will be more involved due to rotations, relative positions of the asteroid, the sun, and Earth. What I was hoping to do is to first get a sense of these variations for a large number of named/known asteroids within ZTF data to be able to define some kind of threshold (as you say in your comment above) which can then be used as a sentinel servi

[2021-04-28 20:37] #85 closed

[2021-04-28 20:37] #92 closed

[2021-04-30 09:59] joeljoh opened #99 "Filter sources based on classification ("Sitewide taxonomy: Ia") stopped working"
Previously, I was able to filter sources based on Classification (and then further sort that table). Since April 25 (approximately), this does not work if you choose classification = 'Sitewide taxonomy: Ia'.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'sources'
2. Click "Filter table"
3. Scroll down to 'Sitewide taxonomy: Ia' in Classifications
4. Source table remains un-filtered a

[2021-04-30 16:46] acrellin commented on #99
Unable to reproduce (see screenshot showing filtered table):
![image](https://user-images.githubusercontent.com/7230285/116727011-dfcfe900-a998-11eb-9264-5e12e4d03fce.png)

[2021-04-30 16:46] acrellin commented on #99
Please try again, and wait a few seconds after submitting the query

[2021-05-04 17:59] scizen9 commented on #97
here's the fritz link for this example [ZTF20acphdcg](https://fritz.science/source/ZTF20acphdcg)

[2021-05-04 19:14] dmitryduev commented on #70
Will be addressed by https://github.com/skyportal/skyportal/issues/976, closing.

[2021-05-04 19:14] #70 closed

[2021-05-04 19:15] dmitryduev commented on #43
@Yashvi-Sharma would you want to take this one on?

[2021-05-04 19:38] Yashvi-Sharma commented on #43
Okay!

[2021-05-05 18:07] scizen9 commented on #97
[PR#1966](https://github.com/skyportal/skyportal/pull/1966) should address this.

[2021-05-11 09:45] steveschulze opened #100 "Increase the size of the spectroscopic plot"
Hi,

Thanks for adding additional lines to the spec tool. The new physical size of the plot window shrunk. It should have the same size as the plot of the light curve plot.

[2021-05-12 19:03] AndyTza opened #101 "Missing Sci/Sub/Ref Images & Photometry in Candidates Page"
**Describe the bug**
While scanning for the ZTF CLU (on average ~300 candidates per day), it appears consistently that some sources are missing either their Sci/Sub/Ref images (with error **Outside Survey Area**) or photometry on the candidate's page. If you click on the source to examine it, the photometry and images will be on the source page but not appear on the candidate's page.

**To Reprodu

[2021-05-24 07:25] steveschulze opened #102 "Reduce white space in comment box"
Hi,

The margins of the comment box are different from the auto-annotations (Screenshot attached). It would be good to have the same margins.

Cheers,

Steve

![Screenshot 2021-05-24 at 09 23 53](https://user-images.githubusercontent.com/11585543/119311863-e12bc300-bc71-11eb-9f1b-195adaa9964a.png)

[2021-05-24 07:29] steveschulze opened #103 "Increase the size of the add comment box"
Hi,

The size of the "Add Comment" box is too small. It would be useful to increase the size so that users can see most / entire comment while typing/editing.

Cheers,

Steve

[2021-06-01 18:40] kmshin1397 commented on #12
@rjoebruch Was this issue fully addressed by your PR?

[2021-06-04 17:32] scizen9 opened #104 "Add redshift provenance to redshifts"
**Feature Summary**
Add provenance items to redshift records.  This could begin with a simple type: ['host-spectrum', 'transient-spectrum', 'transient-ML-fit', 'NED', ...].  Then add more detailed source information: instrument, spectrum, etc.  In addition, add more complex error limits, when appropriate.

**Usage / behavior**
These items would appear in the database and be displayed on the front-

[2021-06-05 14:04] scizen9 opened #105 "TNS on front end reports "No matches found", but when TNS searched, object found"
**Describe the bug**
Front end source display shows "No matches found" for TNS, but when you click the TNS catalog button, a source is found.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to source page for ZTF21abctnoh, or ZTF21abebphe
2. Click on TNS catalog button
3. Scroll down to search results
4. See error

**Expected behavior**
Consistency between TNS match display and search res

[2021-06-05 14:27] acrellin commented on #105
This is a kowalski issue

On Sat, Jun 5, 2021, 7:04 AM Don Neill ***@***.***> wrote:

[2021-06-06 14:53] scizen9 commented on #105
Closing here after opening [Issue #128](https://github.com/dmitryduev/kowalski/issues/128) on kowalski.

[2021-06-06 14:53] #105 closed

[2021-06-09 16:51] AndyTza opened #106 "Download Spectrum with Header Information"
**Feature Summary**
When downloading a spectrum manually from Fritz (i.e Manage Data tab) we would like for the file to also contain the spectrum header if it contains any. Currently, the spectrum that is downloaded is a .csv file that only contains the spectrum data (i.e wavelength and flux).

**Usage / behavior**
The download file should either be a .txt file or .ascii file that also contains th

[2021-06-09 20:05] dannygoldstein commented on #106
For now you can get this from the API,

https://fritz.science/api/spectrum/123

Then index the json key with `'original_file_string'`

[2021-06-15 18:37] kmshin1397 commented on #61
Perhaps just selecting which instruments to show via user prefs

[2021-06-23 19:59] acrellin commented on #93
I have now added the SDSS filters to the ALFOSC instrument

[2021-06-23 19:59] #93 closed

[2021-06-23 21:11] tawnysit opened #107 "Display full accuracy H0 for cosmology"
Hello,

We have noticed that there is a small inconsistency in the cosmological parameters in the About page on Fritz. The current parameters on the page are `FlatLambdaCDM(name=“Planck18_arXiv_v2”, H0=67.7 km / (Mpc s), Om0=0.31, Tcmb0=2.725 K, Neff=3.05, m_nu=[0. 0. 0.06] eV, Ob0=0.049).`

However, if you look at the astropy [`parameters.py`,](https://github.com/astropy/astropy/blob/a3263b683cf9

[2021-06-23 21:16] stefanv commented on #107
Here is what I see in my terminal, and what you also see on the website:

[code]

So, it looks like, by default, cosmology prints out to 3 digits only.

[2021-06-23 21:24] stefanv commented on #107
Here's their (astropy's) print string:

[code]

[2021-06-23 21:24] stefanv commented on #107
I've updated the title to reflect the problem; i.e., that we could display the cosmology differently from the astropy default.

[code]

Note that H0 is 67.66, but the printout is 67.7 (rounded).

[2021-06-23 21:28] acrellin commented on #107
Yes, this is more an issue with astropy than with Fritz. We're simply reporting what astropy outputs verbatim.

[2021-06-23 21:29] acrellin commented on #107
And 67.7 is the correct value, in fact -- just to 3 sig figs

[2021-06-23 21:32] stefanv commented on #107
We can probably override the display to give more accuracy there; I understand why it would be confusing if you entered that H0 value into a simulation, e.g..

[2021-06-29 18:55] kmshin1397 commented on #97
Closing as issue has been addressed.

[2021-06-29 18:55] #97 closed

[2021-06-29 18:57] kmshin1397 commented on #95
Related issue has been addressed (long legends getting cut off)

[2021-06-29 19:20] steveschulze commented on #95
Hi,

This problem still exists. See the screenshot below.

Cheers,

Steve

![Screenshot 2021-06-29 at 21 19 57](https://user-images.githubusercontent.com/11585543/123855174-dc68c780-d91f-11eb-90f4-cd63364707f3.png)

[2021-06-30 14:24] kmshin1397 commented on #95
Ah yes, sorry for closing this prematurely. A fix has been implemented as part of https://github.com/skyportal/skyportal/pull/2085, but I forgot that this hasn't been merged/deployed yet.

[2021-07-06 19:01] dmitryduev commented on #56
This has been addressed by the new permissions infrastructure, closing.

[2021-07-06 19:01] #56 closed

[2021-07-19 20:48] tawnysit opened #108 "Light curve not loading on source page"
**Describe the bug**
The light curve on the source page does not load for some sources, and where the photometry plot should be are just the words "Loading Plotting Data..."
A red error/warning that reads "Out of range float values are not JSON compliant" also shows up in the upper right hand corner of the page when this happens.
However, an alert had been triggered since the source showed up on t

[2021-07-19 21:32] dmitryduev commented on #108
Thanks for the report, @tawnysit!

In this particular case, you saw this behavior because your account was missing access to Partnership data (programid=2), but had access to Public and Caltech data. I granted that, so you should not be seeing that anymore.

Closing this in favor of https://github.com/fritz-marshal/fritz/issues/319 where the issue is discussed in a bit more detail.

[2021-07-19 21:32] #108 closed

[2021-07-20 00:31] #61 closed

[2021-07-20 00:42] dmitryduev commented on #101
This could happen if the app is being hit hard with (API) requests. With rate limiting in (https://github.com/fritz-marshal/fritz/pull/316), this should not be happening anymore.

[2021-07-20 00:42] #101 closed

[2021-07-20 18:59] AndyTza opened #109 "Binning & Smoothing Spectra on Fritz"
It has come to our attention that the binning resolution of the spectra being uploaded on Fritz is being displayed at a high resolution and generally are lacking smoothing. This has particularly has made it challenging to identify spectroscopic features and classify our spectra.

**Feature Summary**
We would like to request a feature that would allow the user to bin the spectra for a given binning

[2021-07-22 20:27] dmitryduev commented on #102
Implemented, closing.

[2021-07-22 20:27] #102 closed

[2021-07-24 10:55] simeonreusch opened #110 "Sign-in alternative to Google"
**Feature Summary**
There should be a auth database hosted at Caltech. I try to avoid Google services as much as possible (as soon as you are signed in somewhere you are exposed to cross-site tracking) and would very much prefer an authentication using a local database (which is implementable via PSA, as @stefanv pointed out).

**Usage / behavior**
The "sign in via Google" should be complemented w

[2021-07-24 10:59] simeonreusch commented on #12
I have to back @steveschulze here, having Tellurics and the possibility to add custom lines would be great!

[2021-07-24 15:18] stefanv commented on #110
@dima This requires assistance from the Caltech IT department. Do we have a contact there? You can send it to me privately.

[2021-07-24 17:01] dannygoldstein commented on #110
We have had a pretty good  experience with auth0: https://auth0.com/.

They allow SSO via github.

Here is the react single page app SDK: https://github.com/auth0/auth0-react

[2021-07-24 17:07] stefanv commented on #110
We used auth0 for a while, but we decided to opt for an open system with more backends.

[2021-07-25 11:40] rjoebruch commented on #12
Tellurics were coded in at the end of may. Not pushed yet?
--
Rachel

[2021-07-25 19:04] stefanv commented on #12
@rjoebruch We are grateful for your contribution!  Just note that PRs need a bit of handholding from your side to be seen through the review process.  You have comments waiting here: https://github.com/skyportal/skyportal/pull/1993

[2021-07-26 07:43] steveschulze opened #111 "Autocompletion of user names"
Hi,

The comments section allows to ping users with the @ symbol. It would be very useful if Fritz recognises such strings in realtime and highlights them if they are incomplete or the user name is not in the database like on slack.

Cheers,

Steve

[2021-07-26 07:48] steveschulze opened #112 "Replacing usernames by real names"
Hi,

There is no clear convention on how people define their user names. E.g. myself - steve-schulze, Jesper Sollerman - jesper, Erik Kool - ekool. If I want to ping someone on Fritz, I usually have to guess what the username might be and hope it works.

It would be highly desirable if real names are used or if Fritz allows usernames as well as real names to ping people.

Cheers,

Steve

[2021-07-26 10:56] rjoebruch commented on #12
Hi Stefan, thank you for pointing it out.
I’m sorry, I realise that my mail was a bit dry. I was in a rush and did not think of the form. It was not my intention to come out dry!

Will look into it, thanks
--
Rachel

[2021-07-26 15:21] stefanv commented on #12
@rjoebruch No worries at all!

[2021-08-03 18:59] #74 closed

[2021-08-06 04:56] ebellm opened #113 "Improve automated selection of offset stars"
**Describe the bug**

At least in more crowded fields, the current automated identification of offset stars tends to select fainter stars quite far from the target when brighter, closer stars with less crowding are available.  In many cases these stars are fainter than the target, which is unlikely to be useful.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to e.g., https://fritz.scienc

[2021-08-17 18:34] dmitryduev commented on #66
All implemented, closing.

[2021-08-17 18:34] #66 closed

[2021-08-17 18:36] dmitryduev commented on #62
There's a Kowalski tool that we run periodically (https://github.com/dmitryduev/kowalski/blob/master/tools/update_ztf_thumbnails_fritz.py) that should take care of this. Closing.

[2021-08-17 18:36] #62 closed

[2021-09-14 18:57] dmitryduev commented on #78
@guynir42 would you mind spelling out your thoughts on this please?

[2021-09-14 19:10] dmitryduev commented on #43
We now display potential duplicate sources on the Source page, closing.

[2021-09-14 19:10] #43 closed

[2021-09-14 19:17] guynir42 commented on #78
I think the way to do this is to provide two columns, each one containing all the available classifications (or, if there are too many, you could just put two lists where you can enter classifications as free-text into each column).
One column would be "filter only sources that HAVE this classification" and the other column "filter only sources that DONT HAVE this classification". This way you cou

[2021-10-03 14:43] idoirani opened #114 "Sorting doesn't always work"
Description:
When sorting using the drop menu from the "Annotation Sorting" section, the sorting doesn't work. However, when pressing on the icon directly above the objects, the sorting works. (in the picture, 1 doesn't work, 2 does work).

screenshot:
![issue_fritz](https://user-images.githubusercontent.com/43962165/135758883-cc2e1def-6fa9-4551-910f-90b5db678339.png)

 - Fritz version: v0.9.dev0+

[2021-10-11 18:33] scizen9 opened #115 "Give allocations names and do not take name from group"
The current allocation system is very unwieldy because of the nature of fritz groups.

For example, this round we have two BTS programs, one for Caltech and one for ZTF.  In order to track the allocations and their time spent, we need a unique programname in the request sent to SEDM.  That programname is currently mapped to the group name associated with the allocation.  The two BTS programs shoul

[2021-10-11 20:42] scizen9 commented on #115
I addition, this would allow a new set of allocations every new semester and the names should have the semester in them.  This would also require that multiple allocations use the same group number.

[2021-10-12 18:29] dmitryduev commented on #115
We use a one-to-many mapping (Group -> Allocations). Allocations have the [proposal_id](https://github.com/skyportal/skyportal/blob/master/skyportal/models.py#L1790) column that you can make non-nullable, unique and required - and use that wherever you need on the front-end/your SEDM side.

[2021-10-13 20:28] dmitryduev commented on #12
I think that most of the stuff (if not everything) in this issue has been implemented, so closing.

[2021-10-13 20:28] #12 closed

[2021-10-19 21:38] #103 closed

[2021-12-07 15:32] acrellin commented on #112
This is addressed by https://github.com/skyportal/skyportal/pull/2464 which implements auto-completion of user mentions in comments, matching on any of username, first name, or last name.

[2021-12-08 04:21] #111 closed

[2021-12-08 04:21] #112 closed

[2022-03-22 19:20] guynir42 commented on #104
Maybe add `origin` column to the redshift table?

[2022-03-23 00:09] mcoughlin commented on #115
@scizen9 Looking at @dmitryduev's explanation, I agree with this. proposal_id is basically the name. Let us know if this is insufficient in the end.

[2022-03-23 00:09] #115 closed

[2022-03-25 18:50] guynir42 commented on #82
Closed by #2161 and #1841

[2022-03-25 18:52] guynir42 commented on #109
Closed by #2486

[2022-03-25 21:17] #78 closed

[2022-03-25 21:17] guynir42 commented on #78
Closed by SP #2773

[2022-03-25 21:19] guynir42 commented on #104
Data model implemented by SP#2772

[2022-03-29 19:21] guynir42 commented on #50
@josh I recall you've made some upgrades to the finder... is this issue still relevant?

[2022-03-29 20:20] guynir42 commented on #57
Closed as it is a duplicate of SP #681

[2022-03-29 20:20] #57 closed

[2022-03-29 20:22] #38 closed

[2022-03-29 20:23] #65 closed

[2022-03-29 20:38] #95 closed

[2022-03-29 20:40] guynir42 commented on #96
@mcoughlin I think you guys were working on this, right? What's the status?

[2022-03-29 20:44] #99 closed

[2022-03-29 20:47] mcoughlin commented on #96
Jada dealt with this.

[2022-03-29 20:47] #96 closed

[2022-03-29 20:48] guynir42 commented on #100
It may also be useful to make the accordion a bit taller to allow using the controls on the bottom without scrolling.

[2022-03-29 21:13] guynir42 commented on #95
I believe this is sorted out in https://github.com/skyportal/skyportal/pull/2085

[2022-04-04 17:33] Yashvi-Sharma opened #116 "Missing ZTF thumbnails"
Please fill out relevant sections below; remove those that are unused.

**Describe the bug**
Some sources have missing ZTF thumbnails on scanning and source pages but there are new photometry points in light curves (eg. https://fritz.science/source/ZTF18aaqkywr). The thumbnails are there on the alerts page but look like bad subtractions. Sources for which this is happening have old ZTF names from

[2022-04-05 18:22] #104 closed

[2022-05-31 23:28] ebellm opened #117 "UI in observing runs list can lead to accidental deletion"
**Describe the bug**

In the [observing runs page](https://fritz.science/runs), the active button area to delete the run ("X") overlaps the "More Info" button area.  Mis-clicking on the X immediately deletes the run and all of its contents without confirmation.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to https://fritz.science/runs
2. Hover over the 'X', and over the 'More Info'
3.

[2022-06-21 09:38] mcoughlin commented on #117
Looks like this got fixed! Let us know if further issues @ebellm

[2022-06-21 09:47] mcoughlin commented on #59
Closing and opening on SkyPortal here: https://github.com/skyportal/skyportal/issues/3125

[2022-06-21 09:47] #59 closed

[2022-06-21 09:48] mcoughlin commented on #100
Closing and opening on SkyPortal: https://github.com/skyportal/skyportal/issues/3126

[2022-06-21 09:48] #100 closed

[2022-06-21 09:49] mcoughlin commented on #106
Closing and opening on SkyPortal: https://github.com/skyportal/skyportal/issues/3121

[2022-06-21 09:49] #106 closed

[2022-06-21 09:51] mcoughlin commented on #114
Closing and opening on SkyPortal: https://github.com/skyportal/skyportal/issues/3127

[2022-06-21 09:52] #114 closed

[2022-06-21 09:56] mcoughlin commented on #50
@virajkaram It is identical now so will close. Please reopen if further issues.

[2022-06-21 09:56] #50 closed

[2022-06-21 09:59] mcoughlin commented on #83
Closing and opening on fritz: https://github.com/fritz-marshal/fritz/issues/427

[2022-06-21 09:59] #83 closed

[2022-06-21 10:01] mcoughlin commented on #116
Closing and opening on fritz: https://github.com/fritz-marshal/fritz-beta-feedback/issues/116

[2022-06-21 10:01] #116 closed

[2022-06-23 08:08] mcoughlin commented on #37
Closing and opening here: https://github.com/fritz-marshal/fritz/issues/431

[2022-06-23 08:10] mcoughlin commented on #110
Closing and opening here: https://github.com/skyportal/skyportal/issues/3135

[2022-06-23 08:10] #110 closed

[2022-06-23 08:13] mcoughlin commented on #107
Closing and opening here: https://github.com/skyportal/skyportal/issues/3136

[2022-06-23 08:13] #107 closed